{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Commerce</title>
    <link rel="icon" href="{% static 'icon/i.ico' %}">
    {% include 'base/css.html' %}
    {% block base_head %}
    {% endblock %}
  </head>

  <body>
    {% include 'base/navbar.html' with brand_name='E-Commerce' %}
    
    <div class="container">
      {% include 'base/messages.html' %}
      <div class="text-center">
        <h2>
          Developed By : 
          <a href="https:www.osamamohamed.com" target="_blank">OSAMA MOHAMED</a>
        </h2>
      </div>
      {% block content %}{% endblock %}
    </div>

    {% include 'base/js.html' %}

    {% block javascript %}
    {% endblock %}
  </body>

</html>
