{% load static %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.91/jsrender.min.js"></script>
{% include 'base/js_templates.html' %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js'></script>
<script src="https://js.stripe.com/v3/"></script>

<script src="{% static 'js/csrf.ajax.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/chart-sales.js' %}"></script>
<script src="{% static 'js/auto-search.js' %}"></script>
<script src="{% static 'js/contact-form.js' %}"></script>
<script src="{% static 'js/stripe-billing.js' %}"></script>
<script src="{% static 'js/copy-link.js' %}"></script>
