{% extends "base.html" %}

{% block content %}

<div class='row'>
  <div class='col-12'>
    <h1>Sales Data</h1>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <p>Recent Total: ${{ recent_orders_data.total__sum }}</p>
    <ol>
      {% for order in recent_orders %}
        <li>
          <a href="{{ order.get_absolute_url }}">
            {{ order.order_id }}
          </a>
          <strong>Total : </strong> {{ order.total }}
          <br>
          , at : {{ order.updated }}
        </li>
        <br>
      {% endfor %}
    </ol>
  </div>

  <div class='col'>
    <p>Shipped Total: ${{ shipped_orders_data.total__sum }}</p>
    <ol>
      {% for order in shipped_orders %}
        <li>
          <a href="{{ order.get_absolute_url }}">
            {{ order.order_id }}
          </a>
          <strong>Total : </strong> {{ order.total }}
          <br>
          , at : {{ order.updated }}
        </li>
        <br>
      {% endfor %}
    </ol>
  </div>

  <div class='col'>
    <p>Paid Total: ${{ paid_orders_data.total__sum }}</p>
    <ol>
      {% for order in paid_orders %}
        <li>
          <a href="{{ order.get_absolute_url }}">
            {{ order.order_id }}
          </a>
          <strong>Total : </strong> {{ order.total }}
          <br>
          , at : {{ order.updated }}
        </li>
        <br>
      {% endfor %}
    </ol>
  </div>
</div>

{% endblock %}