{% extends "base.html" %} 

{% block content %}

  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <h1>Order {{ object.order_id }}</h1>
      <br />
      <a href="{{ object.get_absolute_pdf_url }}" class="btn btn-outline-success">Download As PDF</a>
      <br>
      <br>
      {% include 'base/copy-link.html' with product=object class="btn-outline-info" %}
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <p>
        Items: 
        {% for product in object.cart.products.all %}
          <a href="{{ product.get_absolute_url }}">{{ product }}</a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      <p>Shipping Address: {{ object.shipping_address_final }}</p>
      <p>Billing Address: {{ object.billing_address_final }}</p>
      <p>Subtotal: {{ object.cart.total }}</p>
      <p>Shipping Total: {{ object.shipping_total }}</p>
      <p>Order Total: {{ object.total }}</p>
      <p>Order Status: {{ object.get_status }}</p>
    </div>
  </div>
{% endblock %}
