{% extends 'base.html' %} 

{% block content %}

  <div class="text-center">
    <h1>{{ title }}</h1>
  </div>
  <br>
  <div class="row">
    <div class="col">
        <div class="col-md-6 col-12 mx-auto">
          <p>{{ content }}</p>
          <form action="{% url 'contact:home' %}" method="POST" class="contact-form">
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Send</button>
          </form>
        </div>
    </div>
  </div>

{% endblock %}
